include buildRPN.bat
include gpl-3.0.txt
include requirements.txt
include rpn\makeHelp.py
include rpn\makeUnits.py
include rpn\preparePrimeData.py
include rpn\rpn*.py
include rpn\rpndata\balanced_primes.cache
include rpn\rpndata\cousin_primes.cache
include rpn\rpndata\double_balanced_primes.cache
include rpn\rpndata\huge_primes.cache
include rpn\rpndata\isolated_primes.cache
include rpn\rpndata\large_primes.cache
include rpn\rpndata\quad_primes.cache
include rpn\rpndata\quint_primes.cache
include rpn\rpndata\sext_primes.cache
include rpn\rpndata\sexy_primes.cache
include rpn\rpndata\sexy_quadruplets.cache
include rpn\rpndata\sexy_triplets.cache
include rpn\rpndata\small_primes.cache
include rpn\rpndata\sophie_primes.cache
include rpn\rpndata\super_primes.cache
include rpn\rpndata\triplet_primes.cache
include rpn\rpndata\triple_balanced_primes.cache
include rpn\rpndata\twin_primes.cache
include rpn\rpndata\deltat.data
include rpn\rpndata\deltat.preds
include rpn\rpndata\Leap_Second.dat
include rpn\rpndata\help.pckl.bz2
include rpn\rpndata\unit_conversions.pckl.bz2
include rpn\rpndata\unit_help.pckl.bz2
include rpn\rpndata\unit_names.pckl.bz2
include rpn\rpndata\units.pckl.bz2
include rpn\test*.py
include setup.py
