include rpn.py
include rpn\rpn*.py
include setup.py
include rpn\makeHelp.py
include rpn\makeUnits.py
include rpn\preparePrimeData.py
include rpn\test*.py
include makeHelp.py
include makeUnits.py
include preparePrimeData.py
include test*.py
include rpn\baillie_psw.py
include rpn\jacobi_symbol.py
include rpn\lucas_pp.py
include rpn\miller_rabin.py
include buildRPN.bat
include gpl-3.0.txt
include requirements.txt
recursive-include rpn\rpndata *.txt

