arrow>=0.17.0
convertdate>=2.2.2
dateutil>=2.8.1
ephem>=3.7.7.1
ethiopian-date-converter>=0.1.5
geopy>=2.1.0
gmpy2>=2.0.8
hyperop>=1.1
importlib_resources>=4.1.1
mpmath>=1.1.0
numpy>=1.19.4
pytz>=2020.5
rpnChiladaData>=1.1.0
setuptools>=51.1.0
skyfield>=1.34
timezonefinder>=5.0.0
tzlocal>=2.1
wheel>=0.36.2
