arrow>=0.16.0
convertdate>=2.2.2
ephem>=3.7.7.1
ethiopian-date-converter>=0.1.5
geopy>=2.0.0
gmpy2>=2.0.8
hyperop>=1.1
importlib_resources>=3.3.0
mpmath>=1.1.0
numpy>=1.19.4
pytz>=2020.4
rpnChiladaData>=1.0.0
setuptools>=51.0.0
skyfield>=1.34
timezonefinder>=4.5.0
tzlocal>=2.1
wheel>=0.36.2
