arrow>=1.1.1
convertdate>=2.3.2
python-dateutil>=2.8.1
ephem>=4.0.0.2
ethiopian-date-converter>=0.1.5
geopy>=2.2.0
gmpy2>=2.0.8
hyperop>=1.1
importlib_resources>=5.2.2
mpmath>=1.2.1
numpy>=1.21.2
pytz>=2021.1
rpnChiladaData>=1.1.0
setuptools>=56.1.0
skyfield>=1.39
timezonefinder>=5.2.0
tzlocal>=3.0
wheel>=0.37.0
